h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
/*    width: 400px;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 5px #888888;
    margin-top: 10px;
}
body {
    background-color: blue;
}

#entered-c1, #entered-c2, #entered-c3, #entered-c4, #entered-c5 {
    background-color: #fff;
    background-image: linear-gradient(45deg, #c6c6cc 25%, transparent 25%, transparent 75%, #c6c6cc 75%), linear-gradient(45deg, #c6c6cc 25%, transparent 25%, transparent 75%, #c6c6cc 75%);
    background-size: 5px 5px;
    background-position: 0 0, 50px 50px;
    margin: 1px ;
    width: 100px;
    height: 50px;
  }

#alternative-c1,#alternative-c2, #alternative-c3, #alternative-c4, #alternative-c5 {
    background-color: #fff;
    background-image: linear-gradient(45deg, #c6c6cc 25%, transparent 25%, transparent 75%, #c6c6cc 75%), linear-gradient(45deg, #c6c6cc 25%, transparent 25%, transparent 75%, #c6c6cc 75%);
    background-size: 5px 5px;
    background-position: 0 0, 50px 50px;
    margin: 1px ;
    width: 100px;
    height: 50px;
  }

#display-entered-1{
    background-color: rgb(141, 73, 105) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#display-entered-2 {
    background-color: rgb(57, 161, 126);
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#display-entered-3{
    background-color: rgb(57, 59, 161) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#display-entered-4{
    background-color: rgb(137, 57, 161) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#display-entered-5{
    background-color: rgb(142, 161, 57) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}


#new1{
    background-color: rgb(161, 57, 106) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#new2 {
    background-color: rgb(161, 57, 106);
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#new3{
    background-color: rgb(161, 57, 106) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#new4{
    background-color: rgb(161, 57, 106) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#new5{
    background-color: rgb(161, 57, 106) ;
    margin: 1px ;
    width: 100px;
    height: 50px;
}

#red_ {
    background-color: red;
    width: 100px;
    height: 100px;
}
#blue_ {
    background-color: blue;
    width: 100px;
    height: 100px;
}
#bottom_ {
    color: blue;
    position:absolute;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
}